<%= link_to pet_path(pet), class: "card-link" do %>
  <div class="card-pet">
    <img src="<%= pet.image %>", alt="<%= pet.pet_name %>" >
    <div class="card-pet-infos">
      <div>
        <h2><%= pet.title %></h2>
        <p><%= pet.pet_name %></p>
      </div>
      <h2 class="card-pet-pricing"><%= '%.2f' % pet.price %> €</h2>
    </div>
  </div>
<% end %>
