  <div class="pet-new-page justify center">
  <div class="container text-center">
    <div class="pet-box">
    <h2> 🦥 Create an offer for your pet 🦧 </h2>
      <%= simple_form_for (@pet) do |f| %>
      <div class="form-group">
        <p><%= f.input :pet_name, placeholder: "Your pet name", label: false, class: "form-inline" %></p>
        <p><%= f.input :title, placeholder: "Title", label: false, class: "form-inline" %></p>
        <p><%= f.input :description, placeholder: "Description", label: false, class: "form-inline" %></p>
        <p><%= f.input :price, placeholder: "Price", label: false, class: "form-inline" %></p>
        <p><%= f.input :photo, as: :file, label: false, class: "form-inline" %></p>
        <p><%= f.input :category, collection: Pet::CATEGORY, prompt: "Select category", label: false, class: "form-inline" %></p>
        <p><%= f.input :species, placeholder: "Species", label: false, class: "form-inline" %></p>
        <p><%= f.input :location, placeholder: "Location", label: false, class: "form-inline" %></p>
        <%= f.submit "SUBMIT", class: "lightblue-btn" %>
      <% end %>
      <%= link_to "BACK TO HOME PAGE", root_path, class: "subtle-blue-btn-normal"%>
      </div>
    </div>
  </div>
</div>
