<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="pet-subtitle">
  <h2><%= @pet.pet_name %></h2>
</div>
<div class="pet-highlights">
  <p><%= @pet.category %> | <%= @pet.species %> | <%= @pet.location %></p>
</div>
  <p><%= @pet.description %></p>

</body>
</html>
