<div class="animal-hero-banner">

  <div class="animal-banner">
    <%= cl_image_tag @pet.photo.key, class:"img-display-animal", alt:@pet.pet_name%>
  </div>

  <div class="header">
    <h1 id="pet-title"><%= @pet.title %></h1>
    <a class="rent-me-btn btn btn-primary" href="#rent-height" data-controller="scroll-to">Rent me</a>
  </div>
</div>

<div class="pets-show-page">
  <div class="content-wrapper">
    <div class="main-content">
      <div class="pet-subtitle">
        <h2><%= @pet.pet_name %></h2>
      </div>

      <div class="pet-highlights">
        <p><%= @pet.category %>  |  <%= @pet.species %>  |  <%= @pet.location %></p>
      </div>
        <p><%= @pet.description %></p>
    </div>

    <div class="rent-box" id="rent-height">
          <div class="booking-form">
            <%= render "/bookings/booking-form" %>
        </div>
    </div>

  </div>
</div>
