<div class="booking-form text-center">
  <h2>Rent your friend</h2>
  <h4><%= @pet.price %> €</h4>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.input :date,
              as: :string,
              input_html: { data: { controller: "datepicker" } },
              placeholder: "Pick a date",
              label: false  %>
    <%= f.input :message, placeholder: "Enter your message to user", label: false %>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
