<div class="booking-form">
  <h1>Rent your friend</h1>
  <p><%= '%.2f' % @pet.price %> €</p>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.input :date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }  %>
    <%= f.input :message %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
