<h2><strong>My bookings</strong></h2>
<ul class="list-group">
  <% current_user.bookings.each do |booking| %>
    <li class="list-group-item">
    <%= booking.pet.title %> | <%= booking.pet.pet_name %> | <%= booking.pet.species %><br>
    <%= booking.date %><br>
    <%= booking.message %><br>
    <%= booking.status %></li>
  <% end %>
</ul>
